/*Some necessary adjustments*/
h1{
  
},body,html,main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
/*.ApplePie{
   margin:10px
}
.centrado {
display:block;
margin:auto
}*/
.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}
.texto{
  font-size: 70px;
  color : white;
  position: absolute;
  top: 40%;
  left: 30%;
} 
.centrado{
 /*
  margin: 4rem;
  */
 
padding-left: 3cm;
padding-top: 1cm;
}
.imgcentr{
  padding-left: 4cm;
  padding-top: 0cm;

  